.container {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 400px;
  border: 2px solid whitesmoke;
  margin-top: 60px;
  box-shadow: 0 1px 2px 2px;
}

.todo_Header {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  padding-left: 20px;
  border-bottom: 1px solid black;
  padding-right: 20px;
}

h2 {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.todo_Item,
.form_Header {
  min-height: 45px;
  padding-left: 25px;
  border-bottom: 1px solid black;
  padding-top: 6px;
  padding-right: 25px;
}

.form_Header {
  display: flex;
  justify-content: space-between;
}

.task_Input {
  height: 42px;
  border: none;
  font-size: 22px;
  font-family: sans-serif;
}

.todo_Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoActivity {
  display: inline;
}

.deleteItem {
  display: none;
}

::placeholder {
  font-size: 20px;
  padding: 2px;
  margin: 2px;
  font-weight: 200;
  font-family: sans-serif;
}

.clear_All {
  height: 42px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  padding-left: 22px;
}

.clear_All > p {
  font-family: sans-serif;
  color: grey;
}

button {
  background-color: white;
  border: none;
}
